{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('front-assets/css/craue_formflow.css') }}">
{% endblock %}

{% block body %}

    <section class="section-md text-left">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 pull-md-right">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    {% if flow.getCurrentStepNumber() == 1 %}
                        <div>
                            When selecting four wheels you have to choose the engine in the next step.<br />
                            {{ form_row(form.kind) }}
                        </div>
                    {% endif %}

                    {{ form_rest(form) }}

                    {% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
                    craue_formflow_button_class_last: 'btn btn-sushi btn-sm btn-shadow-1 btn-xs craue_formflow_button',
                    craue_formflow_button_class_back: 'btn btn-sushi btn-sm btn-shadow-1 btn-xs craue_formflow_button',
                    craue_formflow_button_class_reset: 'btn btn-primary btn-sm btn-shadow-1 craue_formflow_button',
                    craue_formflow_button_label_finish: 'créer',
                    craue_formflow_button_label_reset: 'réinitialiser',
                    craue_formflow_button_label_next: 'suivant',
                    craue_formflow_button_label_back: 'précédent'
                    } %}
                    {{ form_end(form) }}
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 pull-md-left">
                    <!-- Sidebar-->
                    <div class="sidebar sidebar-mod-2">
                        <div class="sidebar-module">
                            <h4>Etapes</h4>
                            {% include '@CraueFormFlow/FormFlow/stepList.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#{% include "ComurImageBundle:Form:croppable_image_modal.html.twig" with {'include_bootstrap': false} %}
    <main class="page-content text-left">
        <!-- Section Title Breadcrumbs-->
        <section class="section-full">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Submit Property</h1>
                        <p></p>
                        <ol class="breadcrumb">
                            <li><a href="{{ path('home') }}">Home</a></li>
                            <li class="active">Inscrire son gite</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-md">
            <div class="container">
                <h2>Inscription de votre gite</h2>
                <hr>
                <div class="row submit-form text-left">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                        <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form_row(form.title, {'attr': {'placeholder' : 'Le title', 'class': 'form-control'}}) }}
                                    {{ form_errors(form.title) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.description, {'attr': {'placeholder' : 'Votre description', 'class': 'form-control min-height'}}) }}
                                    {{ form_errors(form.description) }}
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ form_row(form.bathrooms, {'attr': {'placeholder' : 'Nombre Salle de bains', 'class': 'form-control'}}) }}
                                            {{ form_errors(form.bathrooms) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="select-6" class="form-label">Garages</label>
                                            <select id="select-6" data-minimum-results-for-search="Infinity" class="form-control select-filter">
                                                <option value="Any" selected>Any</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <!--Google map search-->
                            <div class="form-group">
                                <label for="rd-google-map-address" class="form-label rd-input-label">Address</label>
                                <div class="form-inline-flex-md">
                                    {{ form_widget(form.address, {'attr': {'id': 'rd-google-map-address', 'name': 'address', 'data-contraints': '@Required', 'placeholder': '', 'autocomplete': 'off', 'class': 'form-control form-control-has-validation'}}) }}

                                    <!-- <input id="rd-google-map-address" id="form_address" type="text" name="form[address]" data-constraints="@Required" placeholder="" autocomplete="off" class="form-control form-control-has-validation">-->
                                    <!-- <a id="rd-google-map-address-submit" href="#" class="btn btn-primary btn-sm btn-min-width-sm">Find Address</a> -->
                                </div>
                            </div>
                            <!-- RD Google Map -->
                            <div class="rd-google-map">
                                <div id="rd-google-map" data-zoom="9" data-x="-4.074548" data-y="48.282684" data-styles="[{&quot;featureType&quot;:&quot;administrative&quot;,&quot;elementType&quot;:&quot;labels.text.fill&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#444444&quot;}]},{&quot;featureType&quot;:&quot;landscape&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#f2f2f2&quot;}]},{&quot;featureType&quot;:&quot;poi&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;off&quot;}]},{&quot;featureType&quot;:&quot;poi.business&quot;,&quot;elementType&quot;:&quot;geometry.fill&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;on&quot;}]},{&quot;featureType&quot;:&quot;road&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;saturation&quot;:-100},{&quot;lightness&quot;:45}]},{&quot;featureType&quot;:&quot;road.highway&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;simplified&quot;}]},{&quot;featureType&quot;:&quot;road.arterial&quot;,&quot;elementType&quot;:&quot;labels.icon&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;off&quot;}]},{&quot;featureType&quot;:&quot;transit&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;off&quot;}]},{&quot;featureType&quot;:&quot;water&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#b4d4e1&quot;},{&quot;visibility&quot;:&quot;on&quot;}]}]" class="rd-google-map__model-2">
                                    <ul class="map_locations">
                                        <li data-x="-4.074548" data-y="48.282684">
                                            <p>Bretagne</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 offset-9">
                            <h4 class="border-bottom">Additional Details</h4>
                            <div class="details-wrap">
                                <div class="form-group input-width-1">
                                    <label for="prop-title1" class="form-label">Title</label>
                                    <input id="prop-title1" type="text" name="title" placeholder="" class="form-control">
                                </div>
                                <div class="form-group input-width-2">
                                    <label for="description1" class="form-label">Value</label>
                                    <input id="description1" type="text" name="title" placeholder="" class="form-control">
                                </div><span class="icon mdi mdi-close preffix-1 cursor-pointer"></span>
                            </div>
                            <div class="details-wrap">
                                <div class="form-group input-width-1">
                                    <label for="prop-title2" class="form-label">Title</label>
                                    <input id="prop-title2" type="text" name="title" placeholder="" class="form-control">
                                </div>
                                <div class="form-group input-width-2">
                                    <label for="description2" class="form-label">Value</label>
                                    <input id="description2" type="text" name="title" placeholder="" class="form-control">
                                </div><span class="icon mdi mdi-close preffix-1 cursor-pointer"></span>
                                <button type="submit" class="btn btn-sm btn-primary-transparent btn-min-width-mod-3">add detail row</button>
                            </div>
                        </div>
                        <div class="col-xs-12 offset-8">
                            {{ form_row(form.submit, { 'label': 'Submit', attr: {'class': 'btn btn-sm btn-sushi btn-min-width-sm' }}) }}
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </section>
    </main>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="{{ asset('front-assets/node_modules/jquery-ui-dist/jquery-ui.js') }}"></script>
    <script src="{{ asset('front-assets/node_modules/jquery.ui.widget/jquery.ui.widget.js') }}"></script>
    <!-- The basic File Upload plugin -->
    <script src="{{ asset('front-assets/node_modules/jquery.iframe-transport/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('bundles/comurimage/js/jquery.fileupload.js') }}"></script>

    <script src="{{ asset('front-assets/node_modules/jcrop/jcrop.min.js') }}"></script>
{% endblock %}