<!DOCTYPE html>
<html class="wide wow-animation">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('front-assets/css/style.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!--[if lt IE 10]>
        <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
        <script src="js/html5shiv.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} text-center">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="page">
            {{ include('menu.html.twig') }}
            {% block body %}{% endblock %}
            {{ include('footer.html.twig') }}
        </div>
        {% block javascripts %}
            <script src="{{ asset('front-assets/node_modules/jquery/dist/jquery.js') }}"></script>
            <script src="{{ asset('front-assets/js/core.min.js') }}"></script>
            <script src="{{ asset('front-assets/js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
