<header class="page-head">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap header_corporate">
        <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fullwidth" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-fullwidth" data-device-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fullwidth" data-stick-up-offset="100px">
            <div class="rd-navbar-top-panel">
                <div class="rd-navbar-top-panel-wrap">
                    <dl class="dl-horizontal-mod-1 login">
                        <dt><span class="mdi mdi-login icon-xxs-mod-2"></span></dt>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                            <a href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        {% endif %}
                    </dl>
                    <div class="top-panel-inner">
                        <dl class="dl-horizontal-mod-1">
                            <dt><span class="material-icons-local_phone icon-xxs-mod-2"></span></dt>
                            <dd><a href="callto:+33631067282"> 06 31 06 72 82</a></dd>
                        </dl>
                        <dl class="dl-horizontal-mod-1">
                            <dt><span class="material-icons-drafts icon-xxs-mod-2"></span></dt>
                            <dd><a href="mailto:#"> info@demolink.org</a></dd>
                        </dl>
                        <address></address>
                    </div>
                    <ul class="list-inline">
                        <li><a href="#" class="fa-facebook"></a></li>
                        <li><a href="#" class="fa-pinterest-p"></a></li>
                    </ul>
                    <div class="btn-group">
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('new-gite') }}" class="btn btn-sm btn-primary">Submit Property</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="rd-navbar-inner inner-wrap">
                <div class="rd-navbar-panel">
                    <!-- RD Navbar Toggle-->
                    <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                    <!-- RD Navbar Brand-->
                    <div class="rd-navbar-brand"><a href="{{ path('home') }}" class="brand-name"><img src="{{ asset('front-assets/images/logo-1.svg') }}" height="42px" width="197px" alt=""></a></div>
                </div>
                <div class="btn-group">
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('new-gite') }}" class="btn btn-sm btn-primary">Inscrire son gite</a>
                    {% endif %}
                </div>
                <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                        <li><a href="{{ path('home') }}">Accueil</a></li>
                        <li><a href="{{ path('search_display_all') }}">Les gites</a></li>
                        {% if is_granted('ROLE_USER') %}
                            <li class="link-group"><a href="{{ path('new-gite') }}" class="btn btn-sm btn-primary">Inscrire son gite</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>