{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('front-assets/css/craue_formflow.css') }}">
{% endblock %}

{% block body %}
    {% include "ComurImageBundle:Form:croppable_image_modal.html.twig" with {'include_bootstrap': false} %}

    <section class="section-md text-left">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 pull-md-right">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    {% if flow.getCurrentStepNumber() == 1 %}
                        <div class="col-sm-12">
                            <p>Dans un premier temps, veuillez spécifier le type de bien que vous mettez en location.</p><br />
                            <div class="form-group">
                                {{ form_row(form.kind, {'attr': {'placeholder' : 'Nombre Salle de bains', 'class': 'form-control'}}) }}
                                {{ form_errors(form.kind) }}
                            </div>
                        </div>
                    {% endif %}

                    {% if flow.getCurrentStepNumber() == 2 %}
                        <div class="col-sm-6 col-md-6 col-xs-12">
                            <div class="form-group">
                                {{ form_row(form.bathrooms, {'attr': {'placeholder' : 'Nombre Salle de bains', 'class': 'form-control'}}) }}
                                {{ form_errors(form.bathrooms) }}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-12">
                            <div class="form-group">
                                {{ form_row(form.capacity, {'attr': {'placeholder' : 'Nombre de vacanciers pouvant etre accueillis', 'class': 'form-control'}}) }}
                                {{ form_errors(form.capacity) }}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-12">
                            <div class="form-group">
                                {{ form_row(form.beds, {'attr': {'placeholder' : 'Nombre de lits', 'class': 'form-control'}}) }}
                                {{ form_errors(form.beds) }}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-12">
                            <div class="form-group">
                                {{ form_row(form.bedrooms, {'attr': {'placeholder' : 'Nombre de chambres', 'class': 'form-control'}}) }}
                                {{ form_errors(form.bedrooms) }}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-12">
                            <div class="form-group">
                                {{ form_row(form.size, {'attr': {'placeholder' : 'Superficie totale du bien', 'class': 'form-control'}}) }}
                                {{ form_errors(form.size) }}
                            </div>
                        </div>
                    {% endif %}

                    {% if flow.getCurrentStepNumber() == 3 %}
                        <div class="col-xs-12 col-sm-12">
                            <!--Google map search-->
                            <div class="form-group">
                                <label for="rd-google-map-address" class="form-label rd-input-label">Address</label>
                                <div class="form-inline-flex-md">
                                    {{ form_widget(form.address, {'attr': {'placeholder': 'Adresse du bien', 'autocomplete': 'off', 'class': 'form-control form-control-has-validation'}}) }}
                                    {{ form_errors(form.address) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if flow.getCurrentStepNumber() == 4 %}
                        <div class="col-sm-12 col-md-12 col-xs-12">
                            <div class="form-group">
                                {{ form_row(form.features, {'attr': {'placeholder' : 'Fonctionalités/équipements sur place', 'class': 'form-control'}}) }}
                                {{ form_errors(form.features) }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-xs-12">
                            <div class="form-group">
                                {{ form_row(form.safety_features, {'attr': {'placeholder' : 'Equipements de sécurité', 'class': 'form-control'}}) }}
                                {{ form_errors(form.safety_features) }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-xs-12">
                            <div class="form-group">
                                {{ form_row(form.spaces, {'attr': {'placeholder' : 'Espaces particuliers', 'class': 'form-control'}}) }}
                                {{ form_errors(form.spaces) }}
                            </div>
                        </div>
                    {% endif %}

                    {% if flow.getCurrentStepNumber() == 5 %}

                    {% endif %}

                    {% if flow.getCurrentStepNumber() == 6 %}
                        <div class="col-sm-12">
                            <div class="form-group">
                                {{ form_row(form.title, {'attr': {'placeholder' : 'Le title', 'class': 'form-control'}}) }}
                                {{ form_errors(form.title) }}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                {{ form_row(form.description, {'attr': {'placeholder' : 'Votre description', 'class': 'form-control min-height'}}) }}
                                {{ form_errors(form.description) }}
                            </div>
                        </div>
                    {% endif %}

                    {% if flow.getCurrentStepNumber() == 7 %}
                        <div class="col-sm-12">
                            <div class="form-group">
                                {{ form_row(form.airbnb, {'attr': {'placeholder' : 'Lien vers votre airbnb', 'class': 'form-control'}}) }}
                                {{ form_errors(form.airbnb) }}
                            </div>
                        </div>
                    {% endif %}

                    {{ form_rest(form) }}

                    {% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
                    craue_formflow_button_class_last: 'btn btn-sushi btn-sm btn-shadow-1 btn-xs craue_formflow_button',
                    craue_formflow_button_class_back: 'btn btn-sushi btn-sm btn-shadow-1 btn-xs craue_formflow_button',
                    craue_formflow_button_class_reset: 'btn btn-primary btn-sm btn-shadow-1 craue_formflow_button',
                    craue_formflow_button_label_finish: 'créer',
                    craue_formflow_button_label_reset: 'réinitialiser',
                    craue_formflow_button_label_next: 'suivant',
                    craue_formflow_button_label_back: 'précédent'
                    } %}
                    {{ form_end(form) }}
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 pull-md-left">
                    <!-- Sidebar-->
                    <div class="sidebar sidebar-mod-2">
                        <div class="sidebar-module">
                            <h4>Etapes</h4>
                            {% include '@CraueFormFlow/FormFlow/stepList.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="{{ asset('front-assets/node_modules/jquery-ui-dist/jquery-ui.js') }}"></script>
    <script src="{{ asset('front-assets/node_modules/jquery.ui.widget/jquery.ui.widget.js') }}"></script>
    <!-- The basic File Upload plugin -->
    <script src="{{ asset('front-assets/node_modules/jquery.iframe-transport/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('bundles/comurimage/js/jquery.fileupload.js') }}"></script>

    <script src="{{ asset('front-assets/node_modules/jcrop/jcrop.min.js') }}"></script>

{% endblock %}