{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('front-assets/css/font-style.css') }}" />
{% endblock %}

{% block body %}
    <main class="page-content text-left">
        <!-- Section Title Breadcrumbs-->
        <section class="section-full">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>{{ gite.title }}</h1>
                        <p></p>
                        <ol class="breadcrumb">
                            <li><a href="{{ path('home') }}">Home</a></li>
                            <li><a href="{{ path('search_display_all') }}">Tous les gites</a></li>
                            <li class="active">{{ gite.title }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Catalog Single Left-->
        <section class="bg-dark section-sm section-sm-mod-1">
            <div class="container">
                <div class="row flow-offset-7">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <p>Propriétaire</p>
                        <p class="h5 text-regular">{{ gite.owner.username }}</p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <p>Localisation</p>
                        <p class="h5 text-regular">{{ gite.address }}</p>
                    </div>
                    {#<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 col-lg-offset-1">
                        <p>Prix</p>
                        <p class="thumbnail-price h5">$2490.00<span class="mon text-regular">/month</span></p>
                    </div>#}
                </div>
            </div>
        </section>
        <section class="section-sm section-sm-mod-2">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8">
                        <!-- Slick Carousel-->
                        <div data-arrows="true" data-loop="false"
                             data-dots="false" data-swipe="true"
                             data-xs-items="1" data-photo-swipe-gallery="gallery"
                             data-child="#child-carousel" data-for=".thumbnail-carousel"
                             class="slick-slider carousel-parent"
                        >
                            {% for photo in gite.photos %}
                                <a data-photo-swipe-item="" data-size="1200x743"
                                   href="{{ gite.getGalleryPath ~ '/' ~ photo|thumb(770, 400) }}"
                                   class="item"
                                >
                                    <img src="{{ gite.getGalleryPath ~ '/' ~ photo|thumb(770, 400) }}" alt="" width="770" height="513">
                                </a>
                            {% endfor %}
                        </div>
                        <div id="child-carousel" data-for=".carousel-parent" data-arrows="true" data-loop="false" data-dots="false" data-swipe="true" data-items="2" data-xs-items="4" data-sm-items="4" data-md-items="5" data-lg-items="5" data-slide-to-scroll="1" class="slick-slider thumbnail-carousel">
                            {% for photo in gite.photos %}
                                <div class="item">
                                    <div class="product-thumbnail">
                                        <img src="{{ gite.getGalleryPath ~ '/' ~ photo|thumb(770, 400) }}" alt="" width="130" height="86">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="border-bottom">A propos de ce logement</h4>
                                <ul class="row">
                                    <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 clear-shortcode-xs-6">
                                        <div class="icon-short-code">
                                            <div style="text-align: center;">
                                                <span class="icon icon-lg icon-primary fa-home"></span>
                                            </div>
                                            <div style="text-align: center;">
                                                {{ gite.getPrettyKind() }}
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 clear-shortcode-xs-6">
                                        <div class="icon-short-code">
                                            <div style="text-align: center;">
                                                <span class="icon icon-lg icon-primary fa-users"></span>
                                            </div>
                                            <div style="text-align: center;">
                                                {{ gite.capacity() }} voyageur{% if gite.capacity() > 1 %}s{% endif %}
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 clear-shortcode-xs-6">
                                        <div class="icon-short-code">
                                            <div style="text-align: center;">
                                                <span class="icon icon-lg icon-primary fa-key"></span>
                                            </div>
                                            <div style="text-align: center;">
                                                {{ gite.getBedrooms() }} chambre{% if gite.capacity() > 1 %}s{% endif %}
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 clear-shortcode-xs-6">
                                        <div class="icon-short-code">
                                            <div style="text-align: center;">
                                                <span class="icon icon-lg icon-primary fa-bed"></span>
                                            </div>
                                            <div style="text-align: center;">
                                                {{ gite.getBeds() }} lit{% if gite.capacity() > 1 %}s{% endif %}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="border-bottom"></div>
                                <div class="row">
                                    <h5 class="col-md-4">
                                        Le logement
                                    </h5>
                                    <div class="col-md-4">
                                        <p>Capacité accueil: <strong>{{ gite.capacity() }}</strong></p>
                                        <p>Salles de bain: <strong>{{ gite.bathrooms() }}</strong></p>
                                        <p>Chambres: <strong>{{ gite.bedrooms() }}</strong></p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>Lits: <strong>{{ gite.beds() }}</strong></p>
                                        <p>Type de propriété: <strong>{{ gite.getPrettyKind() }}</strong></p>
                                        <p>Superficie: <strong>{{ gite.size() }} m<sup>2</sup></strong></p>
                                    </div>
                                </div>
                                {% if gite.features|length > 0 %}
                                    <div class="row">
                                        <h5 class="col-md-4">
                                            Equipements
                                        </h5>
                                        <div class="col-md-4">
                                            {% for feature in gite.features %}
                                                {% if not loop.index is divisible by(2) %}
                                                    <div>
                                                        <div class="font-icon {{ translate_icon.translate(feature)[1] }}"></div>
                                                        <span>{{ translate_icon.translate(feature)[0] }}</span>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="col-md-4">
                                            {% for feature in gite.features %}
                                                {% if loop.index is divisible by(2) %}
                                                    <div>
                                                        <div class="font-icon {{ translate_icon.translate(feature)[1] }}"></div>
                                                        <span>{{ translate_icon.translate(feature)[0] }}</span>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if gite.safetyFeatures|length > 0 %}
                                    <div class="row">
                                        <h5 class="col-md-4">
                                            Sécurité
                                        </h5>
                                        <div class="col-md-4">
                                            {% for safetyFeature in gite.safetyFeatures %}
                                                {% if not loop.index is divisible by(2) %}
                                                    <div>
                                                        <div class="font-icon {{ translate_icon.translate(safetyFeature)[1] }}"></div>
                                                        <span>{{ translate_icon.translate(safetyFeature)[0] }}</span>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="col-md-4">
                                            {% for safetyFeature in gite.safetyFeatures %}
                                                {% if loop.index is divisible by(2) %}
                                                    <div>
                                                        <div class="font-icon {{ translate_icon.translate(safetyFeature)[1] }}"></div>
                                                        <span>{{ translate_icon.translate(safetyFeature)[0] }}</span>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if gite.spaces|length > 0 %}
                                    <div class="row">
                                        <h5 class="col-md-4">
                                            Espaces
                                        </h5>
                                        <div class="col-md-4">
                                            {% for space in gite.spaces%}
                                                {% if not loop.index is divisible by(2) %}
                                                    <div>
                                                        <div class="font-icon {{ translate_icon.translate(space)[1] }}"></div>
                                                        <span>{{ translate_icon.translate(space)[0] }}</span>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="col-md-4">
                                            {% for space in gite.spaces %}
                                                {% if loop.index is divisible by(2) %}
                                                    <div>
                                                        <div class="font-icon {{ translate_icon.translate(space)[1] }}"></div>
                                                        <span>{{ translate_icon.translate(space)[0] }}</span>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                <h4 class="border-bottom offset-8">Description</h4>
                                <p>{{ gite.description }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <div class="sidebar sidebar-mod-1">
                            <div class="sidebar-module">
                                {% if gite.geometry %}
                                    <!-- RD Google Map-->
                                    <div class="rd-google-map">
                                        <div id="rd-google-map" data-zoom="13" data-x="{{ gite.geometry.location.longitude }}" data-y="{{ gite.geometry.location.latitude }}" data-styles="[{&quot;featureType&quot;:&quot;administrative&quot;,&quot;elementType&quot;:&quot;labels.text.fill&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#444444&quot;}]},{&quot;featureType&quot;:&quot;landscape&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#f2f2f2&quot;}]},{&quot;featureType&quot;:&quot;poi&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;off&quot;}]},{&quot;featureType&quot;:&quot;poi.business&quot;,&quot;elementType&quot;:&quot;geometry.fill&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;on&quot;}]},{&quot;featureType&quot;:&quot;road&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;saturation&quot;:-100},{&quot;lightness&quot;:45}]},{&quot;featureType&quot;:&quot;road.highway&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;simplified&quot;}]},{&quot;featureType&quot;:&quot;road.arterial&quot;,&quot;elementType&quot;:&quot;labels.icon&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;off&quot;}]},{&quot;featureType&quot;:&quot;transit&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;off&quot;}]},{&quot;featureType&quot;:&quot;water&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#b4d4e1&quot;},{&quot;visibility&quot;:&quot;on&quot;}]}]" class="rd-google-map__model-4">
                                            <ul class="map_locations">
                                                <li data-x="{{ gite.geometry.location.longitude }}" data-y="{{ gite.geometry.location.latitude }}">
                                                    <p>{{ gite.address }}</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                                <a href="{{ path('rent_a_gite_request', {'id': gite.id}) }}" class="btn btn-sushi btn-sm offset-11 btn-full-width">Contacter le propiétaire</a>
                                <a href="{{ path('information_request', {'id': gite.id}) }}" class="btn btn-primary btn-sm btn-min-width-md btn-full-width offset-10">Une question <span class="icon icon-sm fa-question"></span></a>
                            </div>
                            <div class="sidebar-module">
                                <h4 class="border-bottom">Request a Showing</h4>
                                <p>You can contact us any way that is convenient for you. We would be happy to answer your questions.</p>
                                <!-- RD Mailform-->
                                <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="rd-mailform text-left offset-11">
                                    <div class="form-group">
                                        <label for="contact-name2" class="form-label">Your name</label>
                                        <input id="contact-name2" type="text" name="name" data-constraints="@Required" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="contact-phone2" class="form-label">Your phone</label>
                                        <input id="contact-phone2" type="text" name="phone" data-constraints="@Required @Numeric" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="contact-email2" class="form-label">Your e-mail</label>
                                        <input id="contact-email2" type="email" name="email" data-constraints="@Required @Email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="contact-message2" class="form-label">Message</label>
                                        <textarea id="contact-message2" name="message" data-constraints="@Required" placeholder="Hello! I`m interested in 7758 Laguna heights Court, San Francisco, MA 02127. Please contact me with more information." class="form-control min-height"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-sushi btn-sm">Send message</button>
                                </form>
                            </div>
                            <div class="sidebar-module">
                                <h4 class="border-bottom">Agent Information</h4>
                                <div class="media media-mod-3">
                                    <div class="media-left img-width-auto"><img src="{{ asset('front-assets/images/agency-2.jpg') }}" alt="" width="100" height="100"></div>
                                    <div class="media-body">
                                        <h5 class="text-sushi">Heather Turner</h5>
                                        <p>Founder, Listing Agent</p>
                                        <dl class="dl-horizontal-mod-1 text-ubold text-abbey">
                                            <dt>tel.</dt>
                                            <dd><a href="callto:#">1-800-1234-567</a></dd>
                                        </dl>
                                    </div>
                                </div>
                                <p>She is our leading specialist in everything concerning Real Estate and property management.</p><a href="agent-personal.html" class="btn btn-primary btn-sm">get in touch</a>
                            </div>
                            <div class="sidebar-module">
                                <h4 class="border-bottom">Share</h4>
                                <div class="icon-group"><a href="#" class="icon icon-sm icon-social fa-facebook"></a><a href="#" class="icon icon-sm icon-social fa-twitter"></a><a href="#" class="icon icon-sm icon-social fa-google-plus"></a></div>
                            </div>
                            <div class="sidebar-module">
                                <h4>Recent Properties</h4>
                                <div class="thumbnail-3"><img src="{{ asset('front-assets/images/left_sidebar_blog-1.jpg') }}" alt="" width="340" height="230"/>
                                    <div class="caption"><a href="#" class="h5 text-sushi">1336 N Occidental Blvd</a>
                                        <p class="text-abbey"><span class="text-ubold">$4,339.00</span><span>/month</span></p>
                                    </div>
                                </div>
                                <div class="thumbnail-3"><img src="{{ asset('front-assets/images/left_sidebar_blog-2.jpg') }}" alt="" width="340" height="230"/>
                                    <div class="caption"><a href="#" class="h5 text-sushi">650 Kelton Ave #201</a>
                                        <p class="text-abbey"><span class="text-ubold">$2,449.00</span><span>/month</span></p>
                                    </div>
                                </div>
                                <div class="thumbnail-3"><img src="{{ asset('front-assets/images/left_sidebar_blog-3.jpg') }}" alt="" width="340" height="230"/>
                                    <div class="caption"><a href="#" class="h5 text-sushi">1735 N Fuller Ave #124</a>
                                        <p class="text-abbey"><span class="text-ubold">$2,449.00</span><span>/month</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}